<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    
    <!--  BEGIN NAVBAR  -->
    {% include 'topbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Participant</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Add Participant</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">
                
                    <div class="row">
                        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing"> 
                        </div>
                    </div>

                    <div class="row">
                        <div id="flRegistrationForm" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">                                
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Add Participant</h4>
                                            {% for message in messages %}
                          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                          <div class="alert alert-warning mb-4" role="alert"> 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                    <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </button> <strong>Warning!</strong> {{message}} 
                            </div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success mb-4" role="alert"> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                    </button> <strong>Success!</strong> {{message}}
                                </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-dark mb-4" role="alert"> 
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                          <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                      </button> <strong>Error!</strong> {{message}}
                                  </div> 
                                  {% endif %}
                                  {% endfor %}
                                        </div>                                                                        
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <form action="/add_participant" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group mb-4">
                                            <input type="text" name="biccode" class="form-control" id="rEmail" placeholder="BIC/SWIFT code">
                                        </div>
                                        <div class="form-group mb-4">
                                            <input type="text" name="sortcode" class="form-control" id="rPassword" placeholder="Sort Code">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="par_name" class="form-control" id="rConfirmPassword" placeholder="Participant Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="par_address" class="form-control" id="rConfirmPassword" placeholder="Participant Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="settlement_acct" class="form-control" id="rConfirmPassword" placeholder="Settlement Account">
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">ADD PARTICIPANT</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com/">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->
    {% include 'foot.html' %}
</body>
</html>