{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>ISO Middleware | Process at Peak </title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    
    <!--  BEGIN CUSTOM STYLE FILE  -->
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-step/jquery.steps.css'%}">
    <style>
        #formValidate .wizard > .content {min-height: 25em;}
        #example-vertical.wizard > .content {min-height: 24.5em;}
    </style>
    <!--  END CUSTOM STYLE FILE  -->
</head>
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    
    <!--  BEGIN NAVBAR  -->
    {% include 'topbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Wizards</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">
                    <div class="row layout-top-spacing" id="cancel-row">
                        <div class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Bank to Bank Payment</h4>
                                            {% for message in messages %}
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning mb-4" role="alert"> 
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                    </button> <strong>Warning!</strong> {{message}} 
                                                </div>
                                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                <div class="alert alert-success mb-4" role="alert"> 
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                                            <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                        </button> <strong>Success!</strong> {{message}}
                                                    </div>
                                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                    <div class="alert alert-dark mb-4" role="alert"> 
                                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                                              <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                          </button> <strong>Error!</strong> {{message}}
                                                      </div> 
                                                      {% endif %}
                                                      {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                <form action="/b2b" method="POST">
                                    {% csrf_token %}
                                    <div id="example-basic">
                                        <h3>Sender Info</h3>
                                        <section>
                                            <div class="form-group mb-4">
                                                <fieldset>Name</fieldset><br>
                                                <input type="text" name="sname" class="form-control" required placeholder="Sender Name">
                                            </div> 
                                            <div class="form-group mb-4">
                                                <fieldset>Address</fieldset><br>
                                                <input type="text" name="saddress" class="form-control" required placeholder="Sender Address">
                                            </div> 
                                            <div class="form-group mb-4">
                                                <fieldset>Debit Account</fieldset><br>
                                                <input type="text" name="s_db_acc" class="form-control" required placeholder="Sender Account">
                                            </div> 
                                        </section>
                                        <h3>Receiver Info</h3>
                                        <section>
                                            <div class="form-group mb-4">
                                                <fieldset>Name</fieldset><br>
                                                <input type="text" name="rname" class="form-control" required placeholder="Receiver Name">
                                            </div> 
                                            <div class="form-group mb-4">
                                                <fieldset>Address</fieldset><br>
                                                <input type="text" name="raddress" class="form-control" required placeholder="Receiver Address">
                                            </div> 
                                            <div class="form-group mb-4">
                                                <fieldset>Credit Account</fieldset><br>
                                                <input type="text" name="r_cr_acc" class="form-control" required placeholder="Receiver Account">
                                            </div> 
                                        </section>
                                        <h3>Confirm</h3>
                                        <section>
                                            <div class="form-group mb-4">
                                                <fieldset>Receiver Bank</fieldset><br>
                                                <select name="rbank" class="form-control" required>
                                                    <option value="">Select Receiver's Bank</option>
                                                    {% for bic in show %}
                                                        <option value="{{bic.biccode|upper}}">{{bic.par_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div> 
                                            <div class="form-group mb-4">
                                                <fieldset>Amount</fieldset><br>
                                                <input type="text" name="amount" class="form-control" required placeholder="Transaction Amount">
                                            </div> 
                                            <div class="form-group mb-4">
                                                <fieldset>Comment</fieldset><br>
                                                <input type="text" name="comment" class="form-control" placeholder="Remark">
                                            </div>
                                            <div style="float:right">
                                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                            </div>
                                        </section>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            {% include 'footer.html' %}
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->
    
    
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    
    <script>
        $(document).ready(function() {
            App.init();
        });
    </script>
    <script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>
    <script src="{% static 'assets/js/custom.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
    <script src="{% static 'plugins/jquery-step/jquery.steps.min.js'%}"></script>
    <script src="{% static 'plugins/jquery-step/custom-jquery.steps.js'%}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->    
</body>
</html>