{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    
    <!--  BEGIN NAVBAR  -->
    {% include 'topbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Layouts</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">
                    
                    <div class="row">
                        <div id="flStackForm" class="col-lg-12 layout-spacing layout-top-spacing"> 
                        </div>
                    </div>

                    <div class="row">
                        <div id="flRegistrationForm" class="col-lg-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">                                
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>System Configuration</h4>
                                            {% for message in messages %}
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                            <div class="alert alert-warning mb-4" role="alert"> 
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                    </button> <strong>Warning!</strong> {{message}} 
                                                </div>
                                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                                <div class="alert alert-success mb-4" role="alert"> 
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                                            <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                        </button> <strong>Success!</strong> {{message}}
                                                    </div>
                                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                    <div class="alert alert-dark mb-4" role="alert"> 
                                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                                              <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                                          </button> <strong>Error!</strong> {{message}}
                                                      </div> 
                                                      {% endif %}
                                                      {% endfor %}
                                                  </div>                                                                        
                                              </div>
                                          </div>
                                          <div class="widget-content widget-content-area">
                                            <form action="/config" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group mb-4">
                                                    <fieldset>MESSAGE BROKER TIME (In Seconds)</fieldset><br>
                                                    <input type="hidden" name="name" value="mbroke">
                                                    <input type="text" name="action" class="form-control" id="rEmail" value="{{sTime}}">
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                            </form>
                                        </div>
                                        <div class="widget-content widget-content-area">
                                            <form action="/config" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group mb-4">
                                                    <fieldset>INSTITUTION BIC CODE</fieldset><br>
                                                    <input type="hidden" name="name" value="biccode">
                                                    <input type="text" name="action" class="form-control" id="rEmail" value="{{biccode}}">
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                            </form>
                                        </div>
                                        <div class="widget-content widget-content-area">
                                            <form action="/config" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group mb-4">
                                                    <fieldset><b><h3>CUT OFF TIME: {{ctime}}</h3></b></fieldset><br>
                                                    <input type="hidden" name="name" value="cuttoff">
                                                    <input type="time" name="action" class="form-control" id="rEmail" value="{{sTime}}">
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                            </form>
                                        </div>
                                        <div class="widget-content widget-content-area">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <div class="form-group mb-4">
                                                    <fieldset><b><h3>START/STOP SERVICE: {% if serv == '1' %} ON {% else %} OFF {% endif %}</h3></b></fieldset><br>
                                                    OFF / ON<br><br>
                                                    <label class="switch s-primary  mb-4 mr-2">
                                                        {% if serv == '1' %}
                                                        <input type="hidden" id="name" value="service" oninput="loadinfo()">
                                                        <input type="checkbox" value="0" id="action" oninput="loadinfo()" checked>
                                                        {% else %}
                                                        <input type="hidden" id="name" value="service" oninput="loadinfo()">
                                                        <input type="checkbox" value="1" id="action" oninput="loadinfo()">
                                                        {% endif %}
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="widget-content widget-content-area">
                                            <form method="POST">
                                                {% csrf_token %}
                                                 <fieldset><b><h5>Select Working Days</h5></b></fieldset><br>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Sunday<br>
                                                        <label class="switch s-icons s-outline  s-outline-dark  mb-4 mr-2">
                                                            {% if sun == '1' %}
                                                                <input type="checkbox" id="sun" value="01" oninput="day1()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="sun" value="11" oninput="day1()" >
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Monday<br>
                                                        <label class="switch s-icons s-outline  s-outline-primary  mb-4 mr-2">
                                                            {% if mon == '1' %}
                                                                <input type="checkbox" id="mon" value="02" oninput="day2()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="mon" value="12" oninput="day2()" >
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Tuesday<br>
                                                        <label class="switch s-icons s-outline  s-outline-success  mb-4 mr-2">
                                                            {% if tue == '1' %}
                                                                <input type="checkbox" id="tue" value="03" oninput="day3()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="tue" value="13" oninput="day3()" >
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Wednesday<br>
                                                        <label class="switch s-icons s-outline  s-outline-warning  mb-4 mr-2">
                                                            {% if wed == '1' %}
                                                                <input type="checkbox" id="wed" value="04" oninput="day4()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="wed" value="14" oninput="day4()" >
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Thursday<br>
                                                        <label class="switch s-icons s-outline  s-outline-danger  mb-4 mr-2">
                                                            {% if thur == '1' %}
                                                                <input type="checkbox" id="thur" value="05" oninput="day5()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="thur" value="15" oninput="day5()">
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Friday<br>
                                                        <label class="switch s-icons s-outline  s-outline-secondary  mb-4 mr-2">
                                                            {% if fri == '1' %}
                                                                <input type="checkbox" id="fri" value="06" oninput="day6()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="fri" value="16" oninput="day6()" >
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-lg-3 col-md-3 col-sm-4 col-6">
                                                        Saturday<br>
                                                        <label class="switch s-icons s-outline  s-outline-info  mb-4 mr-2">
                                                            {% if sat == '1' %}
                                                                <input type="checkbox" id="sat" value="07" oninput="day7()" checked>
                                                            {% else %}
                                                                <input type="checkbox" id="sat" value="17" oninput="day7()" >
                                                            {% endif %}
                                                            <span class="slider"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
                            <script type="text/javascript">
                             function loadinfo(){
                                var action = $("#action").val();
                                var name = $("#name").val();
                                $.ajax({
                                  url:'/config',
                                  method:'POST',
                                  data:{
                                    "action": action,
                                    "name": name,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day1(){
                                var sun = $("#sun").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": sun,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day2(){
                                var mon = $("#mon").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": mon,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day3(){
                                var tue = $("#tue").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": tue,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day4(){
                                var wed = $("#wed").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": wed,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day5(){
                                var thur = $("#thur").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": thur,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day6(){
                                var fri = $("#fri").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": fri,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        <script type="text/javascript">
                             function day7(){
                                var sat = $("#sat").val();
                                $.ajax({
                                  url:'/add_day',
                                  method:'POST',
                                  data:{
                                    "day": sat,
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success: function(data){
                                    window.location.href = "/config"
                                }
                            });
                            }
                        </script>
                        
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
            <!--  END CONTENT AREA  -->
        </div>
        <!-- END MAIN CONTAINER -->
        {% include 'foot.html' %}
    </body>
    </html>