<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body data-spy="scroll" data-target="#navSection" data-offset="100">
    
    <!--  BEGIN NAVBAR  -->
    {% include 'topbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Schemas</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>Edit Schema</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="container">

                    <div id="autosaving" class="row layout-spacing">
                        <div class="col-lg-12">
                        {% for message in messages %}
                          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                          <div class="alert alert-warning mb-4" role="alert"> 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                    <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </button> <strong>Warning!</strong> {{message}} 
                            </div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success mb-4" role="alert"> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                    </button> <strong>Success!</strong> {{message}}
                                </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-dark mb-4" role="alert"> 
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                          <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                      </button> <strong>Error!</strong> {{message}}
                                  </div> 
                                  {% endif %}
                                  {% endfor %} 
                            <div class="statbox widget box box-shadow">
                                <form method="POST" action="/update_schema">
                                    {% csrf_token %}
                                    <div class="widget-header"><br>
                                        <h4>PAC NAME </h4><br>
                                        <input type="text" name="pac_name" value="{{allData.pac_name}}" class="form-control" id="rEmail"><br>
                                        <input type="hidden" name="id" value="{{allData.id}}" >
                                        <div class="row">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                <h4>PAC SCHEMA </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content widget-content-area">

                                        <textarea id="demo2" name="schemas">{{allData.schemas}}</textarea>

                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Update Schema</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include 'footer.html' %}
        </div>
        <!--  END CONTENT AREA  -->
        
    </div>
    <!-- END MAIN CONTAINER -->
    
    
    
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    {% include 'foot.html' %}
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>