{% load static %}
   <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="{% static 'assets/js/libs/jquery-3.1.1.min.js'%}"></script>
<script src="{% static 'bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
<script src="{% static 'assets/js/app.js'%}"></script>
<script src="{% static 'plugins/blockui/jquery.blockUI.min.js'%}"></script>
<script>
    $(document).ready(function() {
        App.init();
    });
</script>
<script src="{% static 'assets/js/custom.js'%}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js'%}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    
    <!--  BEGIN CUSTOM SCRIPTS FILE  -->
<script src="{% static 'assets/js/forms/custom-clipboard.js'%}"></script>
    <!--  END CUSTOM SCRIPTS FILE  -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="{% static 'plugins/apex/apexcharts.min.js'%}"></script>
<script src="{% static 'assets/js/dashboard/dash_1.js'%}"></script>
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="{% static 'assets/js/apps/invoice.js'%}"></script>

<script src="{% static 'plugins/highlight/highlight.pack.js'%}"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
<script src="{% static 'assets/js/scrollspyNav.js'%}"></script>
<!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
<script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>    
<script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
<script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
<script src="{% static 'plugins/editors/markdown/simplemde.min.js'%}"></script>
<script src="{% static 'plugins/editors/markdown/custom-markdown.js'%}"></script>
<script src="{% static 'plugins/dropify/dropify.min.js'%}"></script>
<script src="{% static 'assets/js/users/account-settings.js'%}"></script>
 <script src="{% static 'plugins/table/datatable/datatables.js'%}"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="{% static 'plugins/table/datatable/button-ext/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/jszip.min.js'%}"></script>    
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.html5.min.js'%}"></script>
    <script src="{% static 'plugins/table/datatable/button-ext/buttons.print.min.js'%}"></script>
    <script>
        $('#html5-extension').DataTable( {
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    { extend: 'csv', className: 'btn' }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
               "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7 
        } );
    </script>
<script src="{% static 'jquery-2.2.4.min.js'%}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            window.location = "/logout";
        }, 600000);
    });
</script>