{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>ISO Middleware | Process at Peak </title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico'%}"/>
    <link href="{% static 'assets/css/loader.css'%}" rel="stylesheet" type="text/css" />
    <script src="{% static 'assets/js/loader.js'%}"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/plugins.css'%}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'plugins/apex/apexcharts.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/dashboard/dash_1.css'%}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'assets/css/apps/invoice.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/scrollspyNav.css'%}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_html5.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/custom-clipboard.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/editors/markdown/simplemde.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/custom_dt_custom.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/switches.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/dropify/dropify.min.css'%}">
    <link href="{% static 'assets/css/users/account-setting.css'%}" rel="stylesheet" type="text/css" />
</head>