<div class="sidebar-wrapper sidebar-theme">
	
	<nav id="sidebar">
		<div class="shadow-bottom"></div>
		<ul class="list-unstyled menu-categories" id="accordionExample">
			<li class="menu">
				<a href="/home" data-active="{{home}}"  class="dropdown-toggle">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
						<span>Dashboard</span>
					</div>
				</a>
			</li>
			<li class="menu">
				<a href="#single" data-active="{{par}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
						<span>Create Transactions</span>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</div>
				</a>
				<ul class="collapse submenu list-unstyled" id="single" data-parent="#accordionExample">
					<li>
						<a href="/upload"> Bulk Upload </a>
					</li>
					<li>
						<a href="/single"> Single Transaction </a>
					</li> 
					<li>
						<a href="/b2b"> Bank-to-Bank </a>
					</li>                   
				</ul>
			</li>
			<li class="menu">
				<a href="/filelog" class="dropdown-toggle">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-cpu"><rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect><rect x="9" y="9" width="6" height="6"></rect><line x1="9" y1="1" x2="9" y2="4"></line><line x1="15" y1="1" x2="15" y2="4"></line><line x1="9" y1="20" x2="9" y2="23"></line><line x1="15" y1="20" x2="15" y2="23"></line><line x1="20" y1="9" x2="23" y2="9"></line><line x1="20" y1="14" x2="23" y2="14"></line><line x1="1" y1="9" x2="4" y2="9"></line><line x1="1" y1="14" x2="4" y2="14"></line></svg>
						<span>File Management</span>
					</div>
				</a>
			</li>

			<li class="menu">
				<a href="#components" data-active="{{par}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
						<span>Participant</span>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</div>
				</a>
				<ul class="collapse submenu list-unstyled" id="components" data-parent="#accordionExample">
					<li>
						<a href="/add_participant"> Add Participant </a>
					</li>
					<li>
						<a href="/all_participant"> All Participant </a>
					</li>
					<li>
						<a href="/all_account"> Settlement Account </a>
					</li>                     
				</ul>
			</li>

			<li class="menu">
				<a href="#elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
						<span>System Config</span>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</div>
				</a>
				<ul class="collapse submenu list-unstyled" id="elements" data-parent="#accordionExample">
					<li>
						<a href="#"> Payment Type </a>
					</li>
					<li>
						<a href="/config"> System Config </a>
					</li>
					<li>
						<a href="#"> Notification Settings </a>
					</li>
					<li>
						<a href="/mapping"> Mapping Rules </a>
					</li> 
					<li>
						<a href="/allmapping"> All Rules </a>
					</li>
					<li>
						<a href="/addSchema"> Add Schema </a>
					</li> 
					<li>
						<a href="/allSchema"> All Schema </a>
					</li>
					<li>
						<a href="/addmsg">Response Message </a>
					</li>
					<li>
						<a href="/allmsgs">All Response MSG </a>
					</li>
					<li>
						<a href="/addmsgid">Add MSG ID </a>
					</li>
					<li>
						<a href="/allmsgid">All MSG ID </a>
					</li>
					                        
				</ul>
			</li>
			<li class="menu">
				<a href="#tran" data-active="{{par}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
					<div class="">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
						<span>Transactions</span>
					</div>
					<div>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
					</div>
				</a>
				<ul class="collapse submenu list-unstyled" id="tran" data-parent="#accordionExample">
					<li>
						<a href="/transactions"> Bulk Transactions </a>
					</li>
					<li>
						<a href="/single_trans"> Single Transactions </a>
					</li>                   
				</ul>
			</li>
			<li class="menu">
                        <a href="/log" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
                                <span>Upload Log</span>
                            </div>
                        </a>
            </li>
			{% if user.is_superuser == True %}
			<li class="menu">
                        <a href="#users" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                                <span>User Mgt.</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="users" data-parent="#accordionExample">
                            <li>
                                <a href="/adduser"> Add New User </a>
                            </li>
                            <li>
                                <a href="/users"> All User </a>
                            </li>
                        </ul>
                    </li>
			{% endif %}
		</ul>
		<!-- <div class="shadow-bottom"></div> -->
		
	</nav>

</div>