{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    
    <!--  BEGIN NAVBAR  -->
    {% include 'topbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">User</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>All Users</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                
                <div class="row layout-top-spacing">
                
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>S/N</th>
                                            <th>Fullname</th>
                                            <th>Email</th>
                                            <th>Date Joined</th>
                                            <th>Last Login</th>
                                            <th>ROLE</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in showUser %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{data.fullname}}</td>
                                            <td>{{data.email}}</td>
                                            <td>{{data.date_joined}}</td>
                                            <td>{{data.last_login}}</td>
                                            {% if data.is_superuser == True %}
                                                <td>Super Admin</td>
                                            {% else %}
                                                <td>Staff</td>
                                            {% endif %}
                                            
                                            <td>
                                            {% if data.is_active == True %}
                                                <div class="btn-group">
                                                    {% if data.is_superuser == True %}
                                                        <button class="btn btn-success">ADMIN</button>
                                                    {% else %}
                                                        <a href="/userAction/deactivate/{{data.id}}"><button class="btn btn-success" title="Click to De-Activate">Active</button></a>
                                                    {% endif %}
                                                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">
                                                      <a class="dropdown-item" href="#">Change Password</a>
                                                      <a class="dropdown-item" href="/updateuser/{{data.id}}">Update User</a>
                                                      <a class="dropdown-item" href="/deleteuser/{{data.id}}">Delete User</a>
                                                      <div class="dropdown-divider"></div>
                                                      <a class="dropdown-item" href="/adduser">Add New User</a>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="btn-group">
                                                    <a href="/userAction/activate/{{data.id}}"><button class="btn btn-danger" title="Click to De-Activate">Not Active</button></a>
                                                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">
                                                      <a class="dropdown-item" href="#">Change Password</a>
                                                      <a class="dropdown-item" href="/updateuser/{{data.id}}">Update User</a>
                                                      <a class="dropdown-item" href="/deleteuser/{{data.id}}">Delete User</a>
                                                      <div class="dropdown-divider"></div>
                                                      <a class="dropdown-item" href="/adduser">Add New User</a>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            {% include 'footer.html' %}
        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->
    
    {% include 'foot.html' %}
    <!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
   
    <!-- END PAGE LEVEL CUSTOM SCRIPTS -->
</body>
</html>