{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>
    
    <!--  BEGIN NAVBAR  -->
    {% include 'topbar.html' %}
    <!--  END NAVBAR  -->

    <!--  BEGIN NAVBAR  -->
    <div class="sub-header-container">
        <header class="header navbar navbar-expand-sm">
            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <ul class="navbar-nav flex-row">
                <li>
                    <div class="page-header">

                        <nav class="breadcrumb-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Transaction</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><span>All Batch Transaction</span></li>
                            </ol>
                        </nav>

                    </div>
                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        {% include 'sidebar.html' %}
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing">
                    {% for message in messages %}
                          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                          <div class="alert alert-warning mb-4" role="alert"> 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                    <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                </button> <strong>Warning!</strong> {{message}} 
                            </div>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success mb-4" role="alert"> 
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                        <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                    </button> <strong>Success!</strong> {{message}}
                                </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-dark mb-4" role="alert"> 
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x close" data-dismiss="alert">
                                          <line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                      </button> <strong>Error!</strong> {{message}}
                                  </div> 
                                  {% endif %}
                                  {% endfor %}
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content widget-content-area br-6">
                            <div class="table-responsive mb-4 mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Customer Name</th>
                                            <th>Txn Type</th>
                                            <th>Bank Name</th>
                                            <th>Bank Code</th>
                                            <th>Account</th>
                                            <th>Amount</th>
                                            <th>Ref No</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in show %}
                                        <tr>
                                            <td>{{data.employee_name}}</td>
                                            <td>{{data.ptype}}</td>
                                            <td>{{data.bank_name}}</td>
                                            <td>{{data.bnkcode}}</td>
                                            <td>{{data.acctno}}</td>
                                            <td>{{data.currency}} {{data.amount|intcomma}}</td>
                                            <td>{{data.payee_id}}</td>
                                            <td>{{data.date}}</td>
                                            <td>{{data.status|upper}}</td>
                                            <td>{{data.response}}</td>
                                            <td>
                                                {% if data.status == "rejected" %}
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#detail{{data.payee_id}}">Edit</button>
                                                </div>
                                                {% elif data.status == "modified" %}
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button" class="btn btn-dark btn-sm">Modify</button></a>
                                                    </div>
                                                {% else %}
                                                <div class="btn-group">
                                                    <a href="#"><button type="button" class="btn btn-success btn-sm">Done</button></a>
                                                </div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div style="float: right">
                                    <b><h2>TOTAL {{msg}}: {{count}}</h2></b>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for t in show %}
                    {% if t.status == "rejected" %}
                    <div class="modal fade login-modal" id="detail{{t.payee_id}}" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">

                          <div class="modal-header" id="loginModalLabel">
                            <h4 class="modal-title">Modify Information</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
                        </div>
                        <div class="modal-body">
                            <form class="mt-0" action="/create_file" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="payee_id" value="{{t.payee_id}}">
                                <input type="hidden" name="batctno" value="{{t.batctno}}">
                                <div class="form-group">
                                    <fieldset>Bank BIC</fieldset><br>
                                    <input type="text" name="bnkcode" class="form-control mb-2" value="{{t.bnkcode}}" placeholder="Bank BIC">
                                </div>
                                <div class="form-group">
                                    <fieldset>Currency</fieldset><br>
                                    <input type="text" name="currency" class="form-control mb-2" value="{{t.currency}}" placeholder="Currency">
                                </div>
                                <div class="form-group">
                                    <fieldset>Account Number</fieldset><br>
                                    <input type="text" name="acctno" class="form-control mb-2" value="{{t.acctno}}" placeholder="Account Number">
                                </div>
                                <div class="form-group">
                                    <fieldset>Bank Name</fieldset><br>
                                    <input type="text" name="bank_name" class="form-control mb-4" value="{{t.bank_name}}" placeholder="Bank Name">
                                </div>
                                <div class="form-group">
                                    <fieldset>Amount</fieldset><br>
                                    <input type="number" name="amount" step="any" class="form-control mb-4" value="{{t.amount}}" placeholder="Amount">
                                </div>
                                <div class="form-group">
                                    <fieldset>Customer Name</fieldset><br>
                                    <input type="text" name="employee_name" class="form-control mb-4" value="{{t.employee_name}}" placeholder="Customer Name">
                                </div>
                                <div class="form-group">
                                    <fieldset>Gross Amount</fieldset><br>
                                    <input type="number" name="gross_amount" step="any" class="form-control mb-4" value="{{t.gross_amount}}" placeholder="Bank Name">
                                </div>
                                <div class="form-group">
                                    <fieldset>Tax Amount</fieldset><br>
                                    <input type="number" name="tax_amount" step="any" class="form-control mb-4" value="{{t.tax_amount}}" placeholder="Bank Name">
                                </div>
                                <button type="submit" class="btn btn-primary mt-2 mb-2 btn-block">Update</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>

</div>
<div class="footer-wrapper">
    <div class="footer-section f-section-1">
        <p class="">Copyright © 2020 <a target="_blank" href="https://designreset.com/">DesignReset</a>, All rights reserved.</p>
    </div>
    <div class="footer-section f-section-2">
        <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
    </div>
</div>
</div>
<!--  END CONTENT AREA  -->
</div>
<!-- END MAIN CONTAINER -->

{% include 'foot.html' %}
<!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->

<!-- END PAGE LEVEL CUSTOM SCRIPTS -->
</body>
</html>